<robot name="unnamed" version="1.0">
  <link name="ee_board">
    <visual name="rw1">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/ee_base_link.008.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
    <visual name="rw2">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/ee_base_link.007.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
    <visual name="rw3">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/ee_base_link.006.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
    <visual name="rw4">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <mesh filename="../meshes/stl/ee_base_link.005.stl" scale="1.00000 1.00000 1.00000"/>
      </geometry>
    </visual>
  </link>
</robot>