<?xml version="1.0" ?>
<!-- Defines references and sets up the main xacro and ros2 controllers -->
<robot name="es165d" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Plain URDF (LinkForge export); xacro merges its contents under this robot name -->
  <xacro:include filename="$(find es165_moveit)/urdf/arm_w_mm.urdf"/>

  <!-- ros2 control setup -->
  <xacro:include filename="$(find es165_moveit)/urdf/es_165.ros2_control.xacro" />
  <xacro:es165_ros2_control name="es165_arm"/>
</robot>
