<?xml version="1.0" ?>
<robot name="es165d" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="joint_velocities_file" default="$(find es165_moveit)/config/joint_velocities_dx100.yaml"/>

  <xacro:include filename="$(find es165_moveit)/urdf/es165_macro.xacro"/>

  <!-- ros2 control setup -->
  <xacro:include filename="$(find es165_moveit)/urdf/es_165.ros2_control.xacro" />
  <xacro:es165_ros2_control name="arm_controller"/>
  <!---->
  <xacro:es165_moveit prefix="" joint_velocities_file="$(arg joint_velocities_file)"/>
</robot>
