<?xml version="1.0" ?>
<robot name="simple_es165" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="joint_velocities_file" default="$(find simple_es165_test)/config/joint_velocities.yaml"/>

  <xacro:include filename="$(find simple_es165_test)/urdf/simple_es165_macro.xacro"/>

  <!-- ros2 control setup -->
  <xacro:include filename="$(find simple_es165_test)/urdf/simple_es165_ros2_control.xacro" />
  <xacro:simple_es165_ros2_control name="simple_es165_arm"/>
  
  <xacro:simple_es165 prefix="" joint_velocities_file="$(arg joint_velocities_file)"/>
</robot>

